<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>图形查询属性</title>
    <link rel="stylesheet" href="<?=$controller->siteScriptsUrl?>/js/arcgis_js_api/library/3.9/3.9/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="<?=$controller->siteScriptsUrl?>/js/arcgis_js_api/library/3.9/3.9/js/esri/css/esri.css">
    <script src="<?=$controller->siteScriptsUrl?>/js/arcgis_js_api/library/3.9/3.9/"></script>
    <script src="<?=$controller->siteScriptsUrl?>/js/Query.js"></script>
</head>
<body class="claro">
<!--<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline',gutters:false"  id="main">-->
    <!--<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'"-->
         <!--style="background-color: blue; background-image: url(<?=$controller->imagesUrl?>/header.jpg);background-repeat: no-repeat; height: 12%;">-->
        <!--<img src="<?=$controller->imagesUrl?>/logo.png" style="width:40%;height:100%;position:absolute;z-index:-1;">-->
        <!--<img src="<?=$controller->imagesUrl?>/header.jpg" align="right" style="width:60%;height:100%;position:relative;">-->
    <!--</div>-->

    <!--<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left', splitter:'true'"-->
         <!--style="background-color: #acb386; width: 200px;">-->
        <!--<div id="accordionContainer" data-dojo-type="dijit/layout/AccordionContainer"-->
             <!--style="padding: 0px; overflow: hidden; z-index: 29;">-->
            <!--<div data-dojo-type="dijit/layout/ContentPane" title="主页" style="overflow: hidden;">-->
                <!--<div id="findServicesDiv">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="identifyResultsPane" data-dojo-type="dijit/layout/ContentPane" style="overflow: hidden;" title="核素查询">-->
                <!--<div id="resultsDiv">-->
                <!--</div>-->
                <!--<br>-->
            <!--</div>-->
            <!--<div id="parcelResultsPane" data-dojo-type="dijit/layout/ContentPane" title="插值分析">-->
            <!--</div>-->
            <!--<div id="ResultsPane" data-dojo-type="dijit/layout/ContentPane" title="缓冲区分析">-->
            <!--</div>-->
            <!--<div data-dojo-type="dijit/layout/ContentPane" style="width: 100%" title="图层控制">-->
                <!--<br>-->
                <!--<div id="layerConfigDiv">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;<div id="mapDiv" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"&ndash;&gt;-->
         <!--&lt;!&ndash;style="background-color: #f5ffbf; padding: 10px;">&ndash;&gt;-->
        <!--&lt;!&ndash;<div id="mapPosition" style="background-color:whitesmoke; font-weight:bolder; font-size:smaller; position:absolute; padding:3px;left:30px; bottom:6px; z-index:99;"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right', splitter:'true'"-->
         <!--style="background-color: #E0FFFF; width: 200px;">-->
        <!--欢迎光临环境放射性信息平台-->
    <!--</div>-->

    <!--<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom', splitter:'true'"-->
         <!--style="background-color: #E8E8E8; height: 70px;text-align: center">-->
        <!--<P><FONT style="font-size: 9pt">地　　址：陕西省西安市咸宁西路２８号　邮编７１００４９</FONT></P>-->
        <!--<P><FONT style="font-size: 9pt">版权所有：西安交通大学　软件学院　　　　　　　　　　　</FONT></P>-->
    <!--</div>-->
<!--</div>-->


<button data-dojo-type="dijit/form/Button">点</button>
<button data-dojo-type="dijit/form/Button">线</button>
<button data-dojo-type="dijit/form/Button">多边形</button>
<button data-dojo-type="dijit/form/Button">取消查询</button>

<select id="task">
    <option value="statesTask">州图层</option>
    <option value="riversTask">河流图层</option>
    <option value="citiesTask">城市图层</option>
    <option value="表层土壤样品" selected>表层土壤样品</option>
</select>

<div id="mapDiv" style="width:900px; height:600px; border:1px solid #000;"></div>
</body>
</html>
